@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "../styles/calendarStyles.css";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --primary: #2563eb;
  --accent: #e5e7eb;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; */
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.container {
  @apply px-[0.9375rem] mx-auto;

  @media (min-width: 48rem) {
    max-width: 46.875rem;
  }

  @media (min-width: 62rem) {
    max-width: 60.625rem;
  }

  @media (min-width: 75rem) {
    max-width: 80.875rem;
  }
}

/* === Habit Calendar Custom Styling === */